<article class="recipe">
  <div class="recipe-text">
    <p class="recipe-name">
      {{name}}
    </p>
    <p class="recipe-time">
      {{time}}
    </p>
  </div>
  <div class="recipe-img">
    <img src = {{photoURL}}>
  </div>
</article>
